<!-- <mat-sidenav-container> -->
  <mat-card class='light' style="height: 100%;">

    <mat-card-header>
      <mat-card-title class="view-card-title">
        <h1>{{pageTitle }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/plats/edit', 0]">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
          <mat-icon>refresh</mat-icon>
        </button>
  
        <span class="title-spacer"></span>
        <mat-form-field appearance="standard" class="search-form-fileld">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)">
          <mat-icon>filter_list</mat-icon>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> PLat Name </mat-header-cell>
        <mat-cell *matCellDef="let plat">
          <!-- <a [routerLink]="['/product', product.id]"> -->
          {{plat.name}}
          <!-- </a> -->
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let plat"> {{ plat.price }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>  Description </mat-header-cell>
        <mat-cell *matCellDef="let plat"> {{ plat.description }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header>  Image </mat-header-cell>
        <mat-cell *matCellDef="let plat"> {{ plat.image }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="restaurant">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Restaurant </mat-header-cell>
        <mat-cell *matCellDef="let plat"> {{plat.restaurant.name}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef style="justify-content:right;">
          <!-- <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button> -->
        </mat-header-cell>
        <mat-cell *matCellDef="let plat" style="justify-content:right;">
          <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;"
            [routerLink]="['/plats/edit', plat.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab style="background-color:lightblue; min-height: 30px;  margin: 5px;"
            (click)="openDialog(plat.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]">
    </mat-paginator>
  
  </mat-card>
  <mat-sidenav class="search-panel" position="end" dark #sidenav mode="push" opened="false">
  
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>search</mat-icon>
        </div>
        <mat-card-title>
          Advanced Search
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-nav-list style="margin-left:20px;">
      <mat-form-field>
        <input matInput type="text" placeholder="Plat Name" style="width:200px;" name="plat"
          [(ngModel)]="searchFilter.name" #plat />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Price" style="width:200px;" name="price" [(ngModel)]="searchFilter.price"
          #price />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="description" style="width:200px;" name="description"
          [(ngModel)]="searchFilter.desctiption" #description />
      </mat-form-field>
  
    </mat-nav-list>
  
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-action-list>
        <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
          (click)="searchPlats(searchFilter);sidenav.toggle()">
          <mat-icon>search</mat-icon>Search
        </button>
        <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
          (click)="resetSearchFilter(sidenav)">
          <mat-icon>refresh</mat-icon>Reset
        </button>
      </mat-action-list>
    </mat-card-header>
  </mat-sidenav>
  <!-- </mat-sidenav-container> -->
  